body {
    background: rgb(160, 242, 255);
    align-items: center;
    color: rgb(35, 35, 35);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;  
    }

img {
    border-radius: 50%;
    }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    height: auto;
    max-width: 100px;
    padding: 18px;
    }

.profile-name {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.15em;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 5px;
    }

.bio {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-style: outset;
    border-color: rgb(216, 250, 255);
    border-width: 0px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgb(118, 204, 227, 0.5);
    box-shadow: .3rem .3rem .9rem rgb(208, 236, 255), -.2rem -.2rem .9rem rgb(255, 255, 255);
    }

a {
    text-decoration: none;
    color: rgb(34, 35, 35);
    transition: color 1s;
    }

.bottom-text {
    text-align: center;
    color: rgb(117, 124, 129);
    margin-top: 40px;
    font-size: 10px;
    font-weight: lighter;
    }

a:hover {
    color: rgb(26, 26, 26);
    background: rgba(106, 230, 255, 0.5);
    border-style: inset;
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    box-shadow: .5rem .5rem 1.25rem rgb(227, 245, 255), -.5rem -.5rem 1.5rem rgb(168, 210, 225);
    transform: translate(0px, 1px);
    }

i {
    margin-right: 20px;
    }

.animated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
    
}