:root{
    /* SHADOWS */
    --noShadow: 0rem 0rem 0rem var(--greyLight-2), 0rem 0rem 0rem var(--white);
    --outShadow: .3rem .3rem .9rem var(--greyLight-2), -.2rem -.2rem .6rem var(--white);
    --inShadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
    --outShadow-large: .5rem .5rem 1.25rem var(--greyLight-2), -.5rem -.5rem 1.5rem var(--white);
    --inShadow-large: inset .5rem .5rem 1.25rem var(--greyLight-2), inset -.5rem -.5rem 1.5rem var(--white);
  
    /* GRADIENTS */
    --buttonGradient: linear-gradient(185deg, var(--primary-light) 0%, var(--primary) 50%, var(--primary-dark) 100%);
    --miningGradient: linear-gradient(-20deg, var(--primary-dark), var(--primary-light));
    --headerGradient: linear-gradient(-20deg, var(--primary-dark), var(--primary));
}

body {
    background: rgb(160, 242, 255);
    align-items: center;
    color: rgb(35, 35, 35);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;  
    }

img {
    border-radius: 50%;
    }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    height: auto;
    max-width: 100px;
    }

.profile-name {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.175em;
    font-size: 1.4rem;
    padding: 20px;
    }

.bio {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding: 10px;
}

.links {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    border-style: outset;
    border-color: rgb(216, 250, 255);
    border-width: 1px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgb(118, 204, 227, 0.5);
    box-shadow: 10px;
    }

a {
    text-decoration: none;
    color: rgb(34, 35, 35);
    transition: color 1s;
    }

.bottom-text {
    text-align: center;
    color: rgb(117, 124, 129);
    margin-top: 40px;
    font-size: 10px;
    font-weight: lighter;
    }

a:hover {
    color: rgb(26, 26, 26);
    background: rgba(106, 230, 255, 0.5);
    border-style: inset;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    box-shadow: 10px;
    transform: translate(0px, 1px);
    }

i {
    margin-right: 20px;
    }