@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    background-image: url('assets/cloud.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "poppins", sans-serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;  
    }

img {
    border-radius: 50%;
    }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    height: auto;
    max-width: 100px;
    padding: 18px;
    }

.profile-name {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.15em;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 5px;
    }

.bio {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.1rem;
    margin-top: 5px;
    margin-bottom: 25px;
    }

.links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-style: outset;
    border-color: rgb(216, 250, 255);
    border-width: 0px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgb(118, 204, 227, 0.1);
    box-shadow: .3rem .3rem .9rem rgb(173, 221, 234), -.2rem -.2rem .9rem rgb(220, 243, 255);
    }

.links:hover {
    color: rgb(0, 0, 0);
    background: rgba(106, 230, 255, 0.4);
    border-style: inset;
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    box-shadow: .3rem .3rem .9rem rgb(220, 243, 255), -.5rem -.5rem 1.5rem rgb(172, 220, 233);
    transform: translate(0px, 1px);
    }

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 1s;
    }

/*Footer text*/
.bottom-text {
    text-align: center;
    color: rgb(117, 124, 129);
    margin-top: 40px;
    font-size: 10px;
    font-weight: lighter;
    }

/*Button Icons*/
i {
    margin-right: 15px;
    }

/*Animated icon*/
.animated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
    
    }